/****************************************
  Defaults
*****************************************/



/****************************************
  Layout
*****************************************/
.blue {
	background-color: blue;
	display: flex;
	min-height: 200px;

}

.green {
	background-color: green;
	flex: 1;

}

.red {
	background-color: red;
	flex: 2;
}


/****************************************
  Components
*****************************************/




/****************************************
  Inherited Styles
*****************************************/




/****************************************
  Helpers aka Utilities
*****************************************/
