/****************************************
  Defaults -- all tags 
*****************************************/
html {
    box-sizing: border-box;
    color: #444;
    font-weight: 300;
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}
/*******************************************************************************************************************************************************
  Layout
*******************************************************************************************************************************************************/
body {
  margin: 0 auto;
}
/****************************************
  Layout
*****************************************/

/*Navigation bar**************************************************************************/

header {
  position: relative;
  padding: 10px;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16pt;
}

.logo {
  margin: 5px;
  position: absolute;
  background-image: url(../images/logo.png);
  background-size: cover;
  width: 219px;
  height: 161px;
  
}

.contact-us {
  background-color: yellow;
  margin: 5px;
  position: absolute;
  left: 74%;
  padding-left: 9%;
  border: 3px solid black;
}

.primary-nav {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

ul li {
  display: inline;
  text-align: center;
}

li a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.dash-nav:hover ~ hr {
  margin-left: 25%;
}

.food-nav:hover ~ hr {
  margin-left: 50%;
}

.drink-nav:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #151414;
  border: none;
  transition: .4s ease-in-out;
}
/*navigation end********************************************************************/

main {
  display: flex;
  margin-top: 8em;
  color: black;
}

div.left-panel {
  flex: 1;
}

div.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*Media Obj********************************************************************/
.link-wrapper {
  display: flex; 
  text-decoration: none;
  cursor: pointer;
}

.link-wrapper a {
  text-decoration: none;
}

.link-wrapper:hover { 
  background-color: silver;
}

.text-media-obj {
  flex: 1;
  padding-left: 10px;
  font-family: 'Bitter', serif;
  font-size: 20pt;
  color: black;
}

.text-media-obj h4 {
    margin: 0;
}

.text-media-obj h3 {
  margin-top: 0px;
}
/*Tile Obj********************************************************************/

.tile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #E9E9E9;
}

.tile h2 {
  font-size: 5em;
}

div i {
  font-size: 10em;
}
/****************************************
  Components
*****************************************/